html{
    font-family: 'Bebas Neue', cursive;

    padding: 0;
    margin: 0;
    line-height: 1.3em;;
    width: 100%;
    height: 100%;
}
html a{
    text-decoration: none;
    color: rgb(80, 80, 80);
}

html a:hover{
color: black;
}
h1,h2,h3{
    margin: 2em;
    text-align: center;
    line-height: 1.2em;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(253, 251, 253);
    
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    min-height: 60px;
    width: auto;
    border-bottom: 1px solid #ccc;
}
.logo{
    margin-left: 40px;
}
.menu{
    display: flex;
    justify-content:space-around;
    margin-right: 40px;
}
.menu ul{
   list-style: none;
}

.menu ul li{
    display: inline;
}

.menu ul li button{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid black;
    padding: 4px;
    margin-right: 5px;
}

.menu ul li a{
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

header{
    background-image: url("../assets/header-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    text-align: center;
}
article{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(128, 128, 128, 0.452);
}
.text-block{
    background-color: #ddd;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
    width: 400px;
    height: 400px;
    text-align: justify;
    padding-top: 0;
}
.text-block .title{
    background-color: rgb(141, 141, 141);
    width: 100%;
    margin: 0;
    height: 40px;
    margin-top: 0;
    border-top: 8px
}
.text-block p{
    padding: 10px;
}

.text-block h2{
    margin: 0;
    padding: 0.4em;
}
#premios ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 40px;
    margin-bottom: 20px;
}
#galeria{
    margin-top: 50px;
}
#imagens{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.foto{
    border-radius: 8px;
}
.foto img{
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px; 
    background-color:rgb(141, 141, 141); 
    color: #fff;
    font-size: 1em;
}


#logos i{
    margin-right: 5px;
}

#logos a{
    margin-right: 10px;
}

.time {
    background-color:rgb(75, 75, 75);
    height: 20px;
    text-align: center;
    padding-top: 2px;
}
.time span{
    margin-top: 20px;
    align-items: center;
}