html{
    padding: 0;
    margin: 0;
    line-height: 1.4em;;
}
h2{
    text-align: center;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(253, 251, 253);
    
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    min-height: 60px;
    width: auto;
    border-bottom: 1px solid #ccc;
}
.menu{
    display: flex;
    justify-content:space-around;
}
.menu ul{
   list-style: none;
}

.menu ul li{
    display: inline;
}

.menu ul li a{
    margin: 5px;
    padding: 5px;
}

header{
    background-image: url("../assets/header-img.png");
    background-size: cover;
    width: 100%;
    height: 800px;
    text-align: center;
}
article{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: gray;
}
.text-block{
    background-color: #ddd;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
    width: 400px;
    height: 400px;
    text-align: justify;
    padding-top: 0;
}
.text-block .title{
    background-color: rgb(209, 204, 204);
    width: 100%;
    margin: 0;
    height: 40px;
    margin-top: 0;
    border-top: 8px
}
.text-block p{
    padding: 10px;
}

.text-block h2{
    margin: 0;
    padding: 0.3em;
}
